@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Organett';
    src: url(./fonts/Fontspring-DEMO-organetto-extbold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --scale: 1;
    --base-screen-height: 1440;
    --px: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
}

body {
    overflow: hidden;
    font-family: 'Kanit';
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: gray;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 0 calc(5*var(--px));
}

.healthbar {
    font-size: 0;
    width: calc(560*var(--px));
    height: auto;
}

.healthbarBox {
    position: relative;
    width: calc(800*var(--px));
    height: calc(100*var(--px));
    display: flex;
    align-items: center;
    gap: calc(5*var(--px));
    margin-bottom: calc(-5*var(--px));
}

.healthbarsvg {
    width: inherit;
    height: inherit;
}

.healthbarWrapper {
    width: inherit;
    height: calc(100*var(--px));
    position: absolute;
    top: 0;
    z-index: 99;
}


.HealthBarLogo {
    width: calc(73*var(--px));
    height: auto;
    object-fit: contain;
    position: absolute;
    left: calc(28*var(--px));
    bottom: calc(40*var(--px));
}

.textHealth {
    color: rgb(255, 255, 255);
    font-size: calc(18*var(--px));
    position: absolute;
    left: calc(155*var(--px));
    bottom: calc(30*var(--px));
    font-weight: 500;
}

.voiceBox {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: calc(10*var(--px));
    line-height: calc(10*var(--px));
    text-transform: uppercase;
    width: calc(120*var(--px));
    height: calc(13*var(--px));
    left: calc(100*var(--px));
    bottom: calc(10*var(--px));
    gap: calc(3*var(--px));
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.voiceMic {
    width: calc(10*var(--px));
    height: calc(10*var(--px));
    color: white;
    transition: color 275ms ease;
}

.voiceMic.active {
    color: #81D8D0;
}

.voiceMode {
    position: relative;
    display: flex;
    gap: calc(0*var(--px)) calc(4*var(--px));
    margin-bottom: calc(-1*var(--px));
}

.voiceMode>.voiceModeItem {
    width: calc(8*var(--px));
    height: calc(8*var(--px));
    /* fill: #29393D; */
    color: #29393D;
    transition: color 275ms ease;
}

.timeBox {
    width: calc(135*var(--px));
    height: calc(16*var(--px));
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: calc(8*var(--px));
    left: calc(220*var(--px));
    /* background-color: rgba(255, 255, 255, 0.2); */
}

.timeBox>p {
    font-size: calc(12*var(--px));
    font-weight: 500;
    color: aliceblue;
}

.userBox {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.25); */
    height: calc(20*var(--px));
    width: calc(80*var(--px));
    bottom: calc(7*var(--px));
    left: calc(365*var(--px));
    display: flex;
    gap: calc(2*var(--px));
    align-items: center;
    color: aliceblue;
    text-transform: uppercase;
}

.userBox>img {
    width: calc(12*var(--px));
    height: calc(12*var(--px));
}

.userBox>p>span {
    color: #81D8D0;
}

.userBox>p {
    font-size: calc(12*var(--px));
    font-weight: 500;
    display: flex;
    gap: calc(2*var(--px));
}

.voiceMode>.voiceModeItem.active {
    color: #81D8D0
}

.staminaSection {
    width: calc(100*var(--px));
    height: calc(15*var(--px));
    position: absolute;
    display: flex;
    top: calc(3.5*var(--px));
    left: calc(395*var(--px));
    /* background-color: rgba(0, 0, 0, 0.25);    */
}

.staminaItem {
    width: calc(17.5*var(--px));
    height: auto;
    margin-left: calc(-5.5*var(--px));
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    /* background-color: rgba(0, 0, 0, 0.25); */
}

/* end healthbar-section  */

/* food-section  */
.foodSection {
    display: flex;
    width: auto;
    gap: calc(6*var(--px));
    margin-bottom: calc(5*var(--px));
}

.foodBox,
.BrainsBox,
.oxygenBox {
    width: calc(60*var(--px));
    height: calc(60*var(--px));
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodSectionSvg {
    width: calc(60*var(--px));
    height: calc(60*var(--px));
    object-fit: contain;
}

.IconFoodBox {
    position: absolute;
    width: 20%;
    height: 20%;
    object-fit: contain;
}

/* scoreboard */
.scoreboardBox {
    position: absolute;
    width: inherit;
    height: inherit;
    /* background-color: rgba(0, 0, 0, 0.25); */
    display: flex;
    justify-content: center;
}

.floatingLogo {
    position: absolute;
    right: calc(20*var(--px));
    top: calc(10*var(--px));
    width: calc(120*var(--px));
    height: calc(120*var(--px));
    object-fit: contain;
    transition: all 425ms cubic-bezier(0.645, 0.045, 0.355, 1.2);
    transform: scale(1) rotate(0);
    z-index: 1000;
}

.floatingLogo.active {
    transform: scale(1.3) rotate(10deg);
}

.scoreboardSection {
    position: relative;
    margin-top: calc(175*var(--px));
    width: calc(650*var(--px));
    height: calc(240*var(--px));
    background: url(./image/scoreboard.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.imageProfile {
    position: absolute;
    top: calc(35*var(--px));
    width: calc(195*var(--px));
    height: calc(180*var(--px));
    left: calc(52*var(--px));
    background-color: rgba(255, 255, 255, 1);
    object-fit: cover;
    /* opacity: 0.8; */
    -webkit-mask-image: url(./image/vectortest.png);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.jobBox {
    width: calc(100*var(--px));
    height: calc(20*var(--px));
    /* background-color: #29393D; */
    display: flex;
    gap: calc(10*var(--px));
    position: absolute;
    right: calc(200*var(--px));
    top: calc(20*var(--px));
}

.jobBox>.box1 {
    width: calc(150*var(--px));
    height: calc(50*var(--px));
    background-color: rgba(0, 0, 0, 0.25);
}

.jobBox>.box2 {
    width: calc(150*var(--px));
    height: calc(50*var(--px));
    background-color: rgba(0, 0, 0, 0.25);
}


.scoreBoardHeaderFonts {
    font-family: 'Organett';
    color: #81D8D0;
    font-size: calc(8*var(--px));
    font-weight: 900;
    /* background-color: rgba(0, 0, 0, 0.25); */
    text-align: center;
    letter-spacing: calc(3*var(--px));
}

.ScoreBoardOnlineSection {
    position: absolute;
    width: calc(195*var(--px));
    height: calc(60*var(--px));
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-right: calc(37*var(--px));
    padding-bottom: calc(10*var(--px));
    /* background-color: rgba(135,253,255,0.5); */
    bottom: 0;
    right: calc(55*var(--px));
}

.ScoreBoardOnlineSection>p:first-child {
    color: #1B3531;
    font-size: calc(12*var(--px));
    line-height: calc(13*var(--px));
    letter-spacing: calc(0.1*var(--px));
    font-weight: 500;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.25); */
}

.ScoreBoardOnlineSection>p:last-child {
    margin: 0;
    margin-top: calc(-2*var(--px));
    color: aliceblue;
    font-size: calc(24*var(--px));
    line-height: calc(24*var(--px));
    font-weight: 500;
    /* background-color: rgba(0, 0, 0, 0.25); */
    text-shadow: 0 0 calc(8*var(--px)) rgba(135, 253, 255, 0.5);
}

.scoreBoardUID {
    position: absolute;
    bottom: calc(5*var(--px));
    left: calc(99*var(--px));
    width: calc(100*var(--px));
    height: calc(25*var(--px));
    background: linear-gradient(to top, #101010, #092824);
    box-shadow: inset(0 0 calc(4*var(--px)) #101010);
    outline: calc(1*var(--px)) solid #81D8D0;
    border-radius: calc(3*var(--px));
    color: aliceblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14*var(--px));
    font-weight: 500;
    text-align: center;
}

.scoreBoardUID>span {
    color: #81D8D0;
}

.scoreBoardNamePlayerBox {
    width: calc(350*var(--px));
    height: calc(50*var(--px));
    position: absolute;
    left: calc(210*var(--px));
    top: calc(30*var(--px));
    background: url(./image/playerNamebox.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: calc(18*var(--px));
    padding-bottom: calc(3*var(--px));
    font-weight: 600;
    /* background-color: rgba(255, 255, 255, 0.25); */
    display: flex;
    align-items: center;
    padding-left: calc(32*var(--px));
}

.scoreBoardSecondNamePlayerBox {
    display: flex;
    position: absolute;
    left: calc(257*var(--px));
    top: calc(95*var(--px));
    gap: calc(10*var(--px));
}

.telephoneBox,
.playerJobBox {
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: calc(155*var(--px));
    height: calc(37.5*var(--px));
    gap: calc(8*var(--px));
    border-radius: calc(10*var(--px));
    padding: 0 calc(10*var(--px));
    background-color: rgba(2, 23, 20, 0.8);
    color: aliceblue;
    font-size: calc(16*var(--px));
    font-weight: 500;
}

.telephoneBox > img,
.playerJobBox > img{
    width: calc(15*var(--px));
    height: calc(15*var(--px));
    object-fit: contain;
}

.telephoneBox::before,
.playerJobBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(130*var(--px));
    height: calc(35*var(--px));
    border: calc(2*var(--px)) solid #81D8D0;
    border-radius: calc(10*var(--px));
    -webkit-mask-image: linear-gradient(to left, transparent, black);
}

.departmentBox {
    display: flex;
    position: absolute;
    gap: calc(20*var(--px));
    left: calc(255*var(--px));
    top: calc(148*var(--px));
}

.policeBox,
.emergencyBox,
.councilBox {
    width: calc(70*var(--px));
    height: calc(32*var(--px));
    border-radius: calc(10*var(--px));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16*var(--px));
    font-weight: 500;
    color: aliceblue;
}

.policeBox img,
.emergencyBox>img,
.councilBox>img {
    width: calc(55*var(--px));
    height: calc(55*var(--px));
    position: absolute;
    object-fit: contain;
    transform: translateX(-2vh);
}

.policeBox > p,
.emergencyBox > p,
.councilBox > p {
    padding-left: calc(10*var(--px));
}

.policeBox {
    background-color: rgba(16, 57, 82, 0.7);
    border: calc(1*var(--px)) solid #2985BD;
}

.emergencyBox {
    background-color: rgba(85, 15, 27, 0.7);
    border: calc(1*var(--px)) solid #EE294A;
}

.councilBox {
    background-color: rgba(80, 60, 18, 0.7);
    border: calc(1*var(--px)) solid #E3A700;
}

/* utilities  */
.drop-shadow {
    filter: drop-shadow(0 0 calc(4*var(--px)) rgba(0, 0, 0, 0.25))
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.left-enter-active,
.left-leave-active {
    transition: transform 200ms ease, opacity 200ms ease;
}

.left-enter-from,
.left-leave-to {
    opacity: 0;
    transform: translateX(8vh) scale(0.8);
}